<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AustraliaWideEducation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AustraliaWideEducation.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/remixicon.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/meanmenu.min.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/odometer.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.min.css">
    <link rel="stylesheet" href="/assets/css/date-picker.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <base href="/"/>
  
</head>
<body>
   
    <header class="header-area">
        <div class="top-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <ul class="header-left-content">
                            <li>
                                <a target="_blank" href="tel:0433910569">
                                    <i class="ri-phone-fill"></i>
                                    0433910569
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="/cdn-cgi/l/email-protection#771e191118371602040305161b1e16001e13121213021416031e18195914181a591602">
                                    <i class="ri-mail-fill"></i>
                                    <span class="__cf_email__" data-cfemail="d3babdb5bc93b2a6a0a7a1b2bfbab2a4bab7b6b6b7a6b0b2a7babcbdfdb0bcbefdb2a6">[email&#160;protected]</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <ul class="header-right-content">
                            <li>
                                <a target="_blank" href="#">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="#">
                                    <i class="ri-twitter-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="#">
                                    <i class="ri-linkedin-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="#">
                                    <i class="ri-google-fill"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-area">
            <div class="mobile-responsive-nav">
                <div class="container">
                    <div class="mobile-responsive-menu">
                        <div class="logo">
                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="assets/images/australia-wide-education-logo.png" style="width:300px" alt="Australia Wide Education" title="Australia Wide Education">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="desktop-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="/">
                            <img src="assets/images/australia-wide-education-logo.png" style="width:300px" alt="Australia Wide Education" title="Australia Wide Education">
                        </a>
                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link active ">Home</a></li>
                                <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Process" class="nav-link">Process</a></li>
                                <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Services" class="nav-link">Services</a></li>
                                <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="FAQs" class="nav-link">FAQs</a></li>
                                <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="AboutUs" class="nav-link">About us</a></li>
                                <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Contact" class="nav-link ">Contact us</a></li>
                            </ul>
                            <div class="others-options">
                                <ul>
                                    <li>
                                        <a asp-area="" asp-controller="Home" asp-action="Apply" class="default-btn">
                                            Apply Now
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()


    <footer class="footer-area black-bg-color">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget bg-f9f5f1">
                        <a href="/" class="logo">
                            <img style="width:240px;" src="assets/images/australia-wide-education-white-logo.png" alt="Australia Wide Education" title="Australia Wide Education">
                        </a>
                        <p>
                            Helping students build their career with the top universities in Australia
                            At Australia Wide Education, we are on a journey to create Global Education more affordable.
                        </p>
                        <ul class="social-icon">
                            <li>
                                <span>Follow us:</span>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="ri-instagram-line"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="ri-linkedin-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class="ri-twitter-fill"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>Useful link</h3>
                        <ul class="import-link">
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Apply">Apply Now</a>
                            </li>
                            <li><a asp-area="" asp-controller="Home" asp-action="FAQs">FAQs</a></li>
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Index">Sitemap</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Index">Terms & conditions</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Index">Privacy policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>Study</h3>
                        <ul class="import-link">
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Process" class="nav-link">Process</a></li>
                            <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Services" class="nav-link">Services</a></li>
                            <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="AboutUs" class="nav-link">About us</a></li>
                            <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Contact" class="nav-link ">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>Inquiries</h3>
                        <ul class="address">
                            <li class="location">
                                <i class="ri-map-pin-line"></i>
                                <span>Address</span>
                                37 Everton Road , Truganina 3029
                            </li>
                            <li>
                                <i class="ri-mail-line"></i>
                                <span>Email</span>
                                <a href="/cdn-cgi/l/email-protection#4821262e2708293d3b3c3a292421293f212c2d2d2c3d2b293c212726662b272566293d"><span class="__cf_email__" data-cfemail="0960676f6649687c7a7d7b686560687e606d6c6c6d7c6a687d606667276a666427687c">[email&#160;protected]</span></a>
                            </li>
                            <li>
                                <i class="ri-phone-line"></i>
                                <span>Phone</span>
                                <a href="tel:0433910569">0433910569</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="copy-right-area">
        <div class="container">
            <p>
                Copyright <i class="ri-copyright-line"></i> 2023 Australia Wide Education. Design & Developed By
                <a href="https://www.shakunsoft.com/" target="_blank">Shakunsoft</a>
            </p>
        </div>
    </div>
    <div class="go-top">
        <i class="ri-arrow-up-s-fill"></i>
        <i class="ri-arrow-up-s-fill"></i>
    </div>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/meanmenu.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/appear.min.js"></script>
    <script src="assets/js/odometer.min.js"></script>
    <script src="assets/js/jarallax.min.js"></script>
    <script src="assets/js/bootstrap-datepicker.min.js"></script>
    <script src="assets/js/magnific-popup.min.js"></script>
    <script src="assets/js/form-validator.min.js"></script>
    <script src="assets/js/contact-form-script.js"></script>
    <script src="assets/js/ajaxchimp.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

