@{
    ViewData["Title"] = "About Us";
}
<div class="page-title-area bg-26" style="max-height: 280px">
    <div class="container">
        <div class="page-title-content">
            <h2>About Us</h2>
            <ul>
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li class="active">About Us</li>
            </ul>
        </div>
    </div>
</div>
<section class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6">
                <div class="about-img-two mr-15">
                    <img src="assets/images/about-img-2.jpg" alt="Image">
                    <div class="about-shape">
                        <img src="assets/images/about-shape.png" alt="Image">
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="about-content ml-15">
                    <span>About Australia Wide Education</span>
                    <h2>Helping students build their career with the top universities in Australia</h2>
                    <p>
                        Choosing to study abroad may be perplexing and difficult. However, at Australia Wide Education, we are on a journey to create Global Education more affordable. Plenty of our coworkers are former overseas students, so we now have the understanding and
                        ability to assist you get underway with your wonderful quest.
                    </p>
                    <p>
                        We've done the legwork for you, forming recognized relationships with prominent universities, colleges, and authorities to ensure that we always provide the top advice to all of our students. That involves intimate knowledge of classes, teaching methodology,
                        and regional subtleties, all of which factor into our recommendations to you.
                    </p>
                    <a href="/Home/AboutUs" class="default-btn">
                        Find out more
                        <i class="ri-arrow-right-line"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="counter-area bg-color-f8fafb pt-100 pb-70">
    <div class="container">
        <div class="counter-bg">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-counter">
                        <i class="flaticon-graduated"></i>
                        <div class="count-title">
                            <h2>
                                <span class="odometer" data-count="500">00</span>
                            </h2>
                            <h4>Students Placed</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-counter bg-172f41">
                        <i class="flaticon-teacher"></i>
                        <div class="count-title">
                            <h2>
                                <span class="odometer" data-count="70">00</span>
                            </h2>
                            <h4>Consultants</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-counter ">
                        <i class="flaticon-book-1"></i>
                        <div class="count-title">
                            <h2>
                                <span class="odometer" data-count="100">00</span>
                            </h2>
                            <h4>Courses</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-counter  bg-172f41">
                        <i class="flaticon-graduation-cap"></i>
                        <div class="count-title">
                            <h2>
                                <span class="odometer" data-count="250">00</span>
                            </h2>
                            <h4>Degrees</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape counter-shape-1">
                <img src="assets/images/counter-shape-1.png" alt="Image">
            </div>
            <div class="shape counter-shape-2">
                <img src="assets/images/counter-shape-2.png" alt="Image">
            </div>
        </div>
    </div>
</section>
<section class="our-campus-information-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7">
                <div class="campus-img">
                    <img src="assets/images/campus-img.jpg" alt="Image">
                </div>
            </div>
            <div class="col-xl-5">
                <div class="campus-content">
                    <span>Our consultancy benefits</span>
                    <h2>We have proudly placed more than 500 students in top companies worldwide</h2>
                    <p>
                        Australia Wide Education, located in Truganina, Australia, is a prominent global international education consultant. We have helped 500+ foreign students realise their study abroad ambitions by connecting them with the correct study options at over 750+
                        top educational institutions. Our EdTEch is a unified digital environment that supports our experienced education guidance counsellors and enables international education research and application a seamless self-guided procedure.
                        The backbone of Australia Wide Education is its highly devoted team striving hard to fulfill the dream of young students dreaming to study in Australia.
                    </p>
                    <a href="/Home/Services" class="read-more">
                        Find out more
                        <span class="ri-arrow-right-line"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="campus-experience-area-style pb-100">
    <div class="container">
        <div class="campus-experience-bg ptb-100">
            <div class="campus-experience-slider owl-carousel owl-theme">
                <div class="single-campus-experience">
                    <span>Admission information</span>
                    <h3>The campus experience</h3>
                    <p>
                        Choosing a degree of study in Australia may be difficult, with so many high-quality alternatives and lovely places to live while studying. If you're not sure where to begin, or if you believe you know where you're heading but want
                        professional help first, contact us before applying. Our educated and experienced education counsellors would be delighted to hear your story and assist you in developing a complete learning plan that will bring you where you
                        want to go. And, because of our wide institutional contacts, we can check if you're looking at the proper courses (or recommend alternatives if we know of anything better).
                    </p>
                    <a href="/Home/Process" class="read-more">
                        Find out more
                        <i class="ri-arrow-right-line"></i>
                    </a>
                </div>
                <div class="single-campus-experience">
                    <span>Admission information</span>
                    <h3>The campus experience</h3>
                    <p>
                        We will begin by learning about you and your objectives, and then our knowledgeable Education Counsellors will assist you in finding a terrific course at an institution that will get you where you want to go. We'll assist you with everything, from course
                        application to offer letter and study visa. We will also advise you on housing, health care, and insurance. Your course selection and visa application are significant, but you must also consider insurance, any English language
                        requirements, and financial help. We can go through all of this and more (including an application for Permanent Residency if that is the path you choose). In your initial meeting, we'll go through everything.
                    </p>
                    <a href="/Home/Process" class="default-btn">
                        Find out more
                        <i class="ri-arrow-right-line"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer-area black-bg-color">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget bg-f9f5f1">
                    <a href="/" class="logo">
                        <img style="width:240px;" src="assets/images/australia-wide-education-white-logo.png" alt="Australia Wide Education" title="Australia Wide Education">
                    </a>
                    <p>
                        Helping students build their career with the top universities in Australia At Australia Wide Education, we are on a journey to create Global Education more affordable.
                    </p>
                    <ul class="social-icon">
                        <li>
                            <span>Follow us:</span>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="ri-facebook-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="ri-instagram-line"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Useful link</h3>
                    <ul class="import-link">
                        <li>
                            <a href="/Home/ApplyNow">Apply Now</a>
                        </li>
                        <li><a href="/Home/FAQs">FAQs</a></li>
                        <li>
                            <a href="/Home/Sitemap">Sitemap</a>
                        </li>
                        <li>
                            <a href="/Home/TermsAndConditions">Terms & conditions</a>
                        </li>
                        <li>
                            <a href="/Home/PrivacyPolicy">Privacy policy</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Study</h3>
                    <ul class="import-link">
                        <li><a href="/">Home</a></li>
                        <li><a href="/Home/Process">Process</a></li>
                        <li><a href="/Home/Services">Services</a></li>
                        <li><a href="/Home/AboutUs">About us</a></li>
                        <li><a href="/Home/ContactUs">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Inquiries</h3>
                    <ul class="address">
                        <li class="location">
                            <i class="ri-map-pin-line"></i>
                            <span>Address</span> 37 Everton Road , Truganina 3029
                        </li>
                        <li>
                            <i class="ri-mail-line"></i>
                            <span>Email</span>
                            <a href="/cdn-cgi/l/email-protection#5e373038311e3f2b2d2a2c3f32373f29373a3b3b3a2b3d3f2a373130703d3133703f2b"><span class="__cf_email__" data-cfemail="573e393138173622242325363b3e36203e33323233223436233e38397934383a793622">[email&#160;protected]</span></a>
                        </li>
                        <li>
                            <i class="ri-phone-line"></i>
                            <span>Phone</span>
                            <a href="tel:0433910569">0433910569</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
