@{
    ViewData["Title"] = "FAQs Page";
}


<div class="page-title-area bg-26" style="max-height: 280px">
    <div class="container">
        <div class="page-title-content">
            <h2>FAQs</h2>
            <ul>
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li class="active">FAQs</li>
            </ul>
        </div>
    </div>
</div>
<section class="faq-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Frequently asked questions</h2>
        </div>
        <div class="faq-bg">
            <div class="faq-accordion">
                <ul class="accordion">
                    <li class="accordion-item">
                        <a class="accordion-title active" href="javascript:void(0)">
                            <i class="ri-add-line"></i>
                            01. I want to alter my course or university. How should I proceed?
                        </a>
                        <div class="accordion-content show">
                            <p>
                                To prevent the obvious dangers of Visa Cancellation, a course change process must precisely adhere to the requirements that apply to your Student Visa. It is strongly recommended that you have a Qualified Education Agent Counsellor (QEAC) assist you with the procedure; our Qualified Counsellor team at Australia Wide Education Global is offering the Course Change Service for FREE. Please contact us here.
                                Seek expert assistance from a Registered Migration Agent before changing your plans to avoid visa cancellation due to noncompliance with visa conditions. For an educated decision, you should obtain legal counsel.
                            </p>
                        </div>
                    </li>
                    <li class="accordion-item">
                        <a class="accordion-title" href="javascript:void(0)">
                            <i class="ri-add-line"></i>
                            02. What scholarships are available to me, and how can I apply for them?
                        </a>
                        <div class="accordion-content">
                            <p>
                                There are several institutes in Australia that provide academic scholarships to qualified overseas students, with a focus on postgraduate programmes. Visit our Scholarships page for more information on availability and application criteria, or schedule an appointment with one of our knowledgeable education consultants.
                                Please keep in mind that the material presented on the institutes' websites may be overwhelming and unclear. However, if you use our free service to apply for or change courses, our skilled team of Consultants will actively assist you in locating and applying for Scholarships.
                            </p>
                        </div>
                    </li>
                    <li class="accordion-item">
                        <a class="accordion-title" href="javascript:void(0)">
                            <i class="ri-add-line"></i>
                            03. What should I keep in mind if I decide to alter course?
                        </a>
                        <div class="accordion-content">
                            <p>
                                Here are some things to consider while changing your major:
                                <br />
                                (1) relevance of the programme you are applying to from your previous/current experience (it might be connected to a brief study/work experience)
                                <br />
                                (2) the advantage of the new course in the future to receive your present course provider's career advancement transfer policy
                                <br />
                                (3) Speak with one of our education consultants to make the best option when changing courses.
                            </p>
                        </div>
                    </li>
                    <li class="accordion-item">
                        <a class="accordion-title" href="javascript:void(0)">
                            <i class="ri-add-line"></i>
                            04. Will studying online have an impact on my prospects of obtaining a 485 visa while in Australia?
                        </a>
                        <div class="accordion-content">
                            <p>
                                Studying online while in Australia will not influence your 485 visa application. If you have an international student visa and are studying outside of Australia via COVID-19, your studies may count toward the Australian study requirement for a post-study work visa.
                                If you are a graduate with an international student visa, you can apply for a post-study work visa outside of Australia if you are unable to return due to COVID-19 and meet the conditions.
                            </p>
                        </div>
                    </li>
                    <li class="accordion-item">
                        <a class="accordion-title" href="javascript:void(0)">
                            <i class="ri-add-line"></i>
                            05. I want to study in a regional location, but do I have to reside there to qualify for the extra years on a 485 visa?
                        </a>
                        <div class="accordion-content">
                            <p>
                                To be eligible for an extra 485 visa, you must reside and study in a regional area. Students must have graduated from a regional institution and lived (including all employment and study) in a regional area for at least two years prior to applying for their second 485 visa.
                            </p>
                        </div>
                    </li>
                    <li class="accordion-item">
                        <a class="accordion-title" href="javascript:void(0)">
                            <i class="ri-add-line"></i>
                            06. Can I take two (or more) courses at the same time?
                        </a>
                        <div class="accordion-content">
                            <p>
                                Yes, if they are non-CRICOS registered short courses. However, you cannot pursue two CRICOS-registered courses at the same time.
                                "The Commonwealth Register of Institutions and Courses for Overseas Students (CRICOS) is a list of Australian education providers who recruit, enrol, and educate international students." Registration on CRICOS permits providers to offer courses to international students studying on student visas in Australia." - Australian Qualifications Authority.
                            </p>
                        </div>
                    </li>
                    <li class="accordion-item">
                        <a class="accordion-title" href="javascript:void(0)">
                            <i class="ri-add-line"></i>
                            07. What are my work rights while on a student visa?
                        </a>
                        <div class="accordion-content">
                            <p>When your course is in session, you can work a maximum of 40 hours each fortnight, and you can work an unlimited number of hours when your course is not in session.</p>
                        </div>
                    </li>
                    <li class="accordion-item">
                        <a class="accordion-title" href="javascript:void(0)">
                            <i class="ri-add-line"></i>
                            08. As an international student, may I work more than 40 hours per fortnight?
                        </a>
                        <div class="accordion-content">
                            <p>
                                You can work more than 40 hours a week if you are:
                                <br />
                                (1) hired by a nursing home
                                <br />
                                (2) Before September 8, 2020, you must be an Approved Provider or a Commonwealth-funded aged care service provider with a RACS ID or a NAPS ID and work for a registered National Disability Insurance Scheme provider.
                                <br />
                                (3) You are enrolled in a healthcare-related course and you are helping to fight COVID-19 as recommended by health experts.
                                <br />
                                (4) employed in the agricultural industry
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>