@{
    ViewData["Title"] = "Home Page";
}

<section class="banner-area bg-1 jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="banner-content">
                            <span>Welcome to Australia Wide Education</span>
                            <h1>
                                Build the career of your dream in Australia
                            </h1>
                            <div class="banner-btn">
                                <a href="/Home/ApplyNow" class="default-btn">
                                    Apply Now
                                    <i class="ri-arrow-right-line"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="banner-img">
                            <img src="assets/images/banner/banner-img-1.jpg" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img mr-15">
                    <img src="assets/images/about-img.jpg" alt="Image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content ml-15">
                    <span>Who we are and what we do</span>
                    <h2>Helping students build their career with the top universities in Australia</h2>
                    <p>
                        Choosing to study abroad may be perplexing and difficult. However, at Australia Wide Education, we are on a journey to create Global Education more affordable. Plenty of our coworkers are former overseas students, so we now have the understanding and ability to assist you get underway with your wonderful quest.
                    </p><p>
                        We've done the legwork for you, forming recognized relationships with prominent universities, colleges, and authorities to ensure that we always provide the top advice to all of our students. That involves intimate knowledge of classes, teaching methodology, and regional subtleties, all of which factor into our recommendations to you.
                    </p>
                    <a href="/Home/AboutUs" class="default-btn">
                        Find out more
                        <i class="ri-arrow-right-line"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="study-area pt-100 pb-70">
    <div class="container">
        <div class="section-title white-title">
            <h2>Browse courses by study area</h2>
            <p>Allow us to assist you in making the procedure as simple as possible</p>
        </div>
        <div class="row justify-content-center">
            <div class="study-slider owl-carousel owl-theme">
                <div class="single-study">
                    <i class="flaticon-data-scientist"></i>
                    <h3>
                        <a href="/Home/ApplyNow">Diploma of leadership And Mangement</a>
                    </h3>
                    <p>Find out more about opportunities with Diploma of leadership And Mangement course </p>
                    <a href="/Home/ApplyNow" class="read-more">
                        Find out more
                        <span class="ri-arrow-right-line"></span>
                    </a>
                </div>
                <div class="single-study">
                    <i class="flaticon-data-scientist"></i>
                    <h3>
                        <a href="/Home/ApplyNow">Advanced Diploma of Leadership And Managament</a>
                    </h3>
                    <p>Find out more about opportunities with Advanced Diploma of Leadership And Managament course </p>
                    <a href="/Home/ApplyNow" class="read-more">
                        Find out more
                        <span class="ri-arrow-right-line"></span>
                    </a>
                </div>
                <div class="single-study">
                    <i class="flaticon-data-scientist"></i>
                    <h3>
                        <a href="/Home/ApplyNow">Graduate Diploma of Management (Learning)</a>
                    </h3>
                    <p>Find out more about opportunities with Graduate Diploma of Management (Learning) course </p>
                    <a href="/Home/ApplyNow" class="read-more">
                        Find out more
                        <span class="ri-arrow-right-line"></span>
                    </a>
                </div>
                <div class="single-study">
                    <i class="flaticon-data-scientist"></i>
                    <h3>
                        <a href="/Home/ApplyNow">Cert III Carpentry</a>
                    </h3>
                    <p>Find out more about opportunities with Cert III Carpentry course </p>
                    <a href="/Home/ApplyNow" class="read-more">
                        Find out more
                        <span class="ri-arrow-right-line"></span>
                    </a>
                </div>
                <div class="single-study">
                    <i class="flaticon-data-scientist"></i>
                    <h3>
                        <a href="/Home/ApplyNow">Cert III Painting</a>
                    </h3>
                    <p>Find out more about opportunities with Cert III Painting course </p>
                    <a href="/Home/ApplyNow" class="read-more">
                        Find out more
                        <span class="ri-arrow-right-line"></span>
                    </a>
                </div>
                <div class="single-study">
                    <i class="flaticon-data-scientist"></i>
                    <h3>
                        <a href="/Home/ApplyNow">Cert III Brick Laying</a>
                    </h3>
                    <p>Find out more about opportunities with Cert III Brick Laying course </p>
                    <a href="/Home/ApplyNow" class="read-more">
                        Find out more
                        <span class="ri-arrow-right-line"></span>
                    </a>
                </div>
                <div class="single-study">
                    <i class="flaticon-data-scientist"></i>
                    <h3>
                        <a href="/Home/ApplyNow">Diploma of Building And Construction (Building)</a>
                    </h3>
                    <p>Find out more about opportunities with Diploma of Building And Construction (Building) course </p>
                    <a href="/Home/ApplyNow" class="read-more">
                        Find out more
                        <span class="ri-arrow-right-line"></span>
                    </a>
                </div>
                <div class="single-study">
                    <i class="flaticon-data-scientist"></i>
                    <h3>
                        <a href="/Home/ApplyNow">Cert III Automotive</a>
                    </h3>
                    <p>Find out more about opportunities with Cert III Automotive course </p>
                    <a href="/Home/ApplyNow" class="read-more">
                        Find out more
                        <span class="ri-arrow-right-line"></span>
                    </a>
                </div>
                <div class="single-study">
                    <i class="flaticon-data-scientist"></i>
                    <h3>
                        <a href="/Home/ApplyNow">Cert IV Automotive</a>
                    </h3>
                    <p>Find out more about opportunities with Cert IV Automotive course </p>
                    <a href="/Home/ApplyNow" class="read-more">
                        Find out more
                        <span class="ri-arrow-right-line"></span>
                    </a>
                </div>
                <div class="single-study">
                    <i class="flaticon-data-scientist"></i>
                    <h3>
                        <a href="/Home/ApplyNow">Diploma of Automotive Management</a>
                    </h3>
                    <p>Find out more about opportunities with Diploma of Automotive Management course </p>
                    <a href="/Home/ApplyNow" class="read-more">
                        Find out more
                        <span class="ri-arrow-right-line"></span>
                    </a>
                </div>
                <div class="single-study">
                    <i class="flaticon-data-scientist"></i>
                    <h3>
                        <a href="/Home/ApplyNow">Cert III Commercial Cookery</a>
                    </h3>
                    <p>Find out more about opportunities with Cert III Commercial Cookery course </p>
                    <a href="/Home/ApplyNow" class="read-more">
                        Find out more
                        <span class="ri-arrow-right-line"></span>
                    </a>
                </div>
                <div class="single-study">
                    <i class="flaticon-data-scientist"></i>
                    <h3>
                        <a href="/Home/ApplyNow">Cert IV Commercial Cookery</a>
                    </h3>
                    <p>Find out more about opportunities with Cert IV Commercial Cookery course </p>
                    <a href="/Home/ApplyNow" class="read-more">
                        Find out more
                        <span class="ri-arrow-right-line"></span>
                    </a>
                </div>
                <div class="single-study">
                    <i class="flaticon-data-scientist"></i>
                    <h3>
                        <a href="/Home/ApplyNow">Diploma of Hospitality Managemnt</a>
                    </h3>
                    <p>Find out more about opportunities with Diploma of Hospitality Managemnt course </p>
                    <a href="/Home/ApplyNow" class="read-more">
                        Find out more
                        <span class="ri-arrow-right-line"></span>
                    </a>
                </div>
                <div class="single-study">
                    <i class="flaticon-data-scientist"></i>
                    <h3>
                        <a href="/Home/ApplyNow">Diploma of business</a>
                    </h3>
                    <p>Find out more about opportunities with Diploma of business course </p>
                    <a href="/Home/ApplyNow" class="read-more">
                        Find out more
                        <span class="ri-arrow-right-line"></span>
                    </a>
                </div>
                <div class="single-study">
                    <i class="flaticon-data-scientist"></i>
                    <h3>
                        <a href="/Home/ApplyNow">Advanced diploma of business</a>
                    </h3>
                    <p>Find out more about opportunities with Advanced diploma of business course </p>
                    <a href="/Home/ApplyNow" class="read-more">
                        Find out more
                        <span class="ri-arrow-right-line"></span>
                    </a>
                </div>
                <div class="single-study">
                    <i class="flaticon-data-scientist"></i>
                    <h3>
                        <a href="/Home/ApplyNow">Diploma of Nursing</a>
                    </h3>
                    <p>Find out more about opportunities with Diploma of Nursing course </p>
                    <a href="/Home/ApplyNow" class="read-more">
                        Find out more
                        <span class="ri-arrow-right-line"></span>
                    </a>
                </div>
                <div class="single-study">
                    <i class="flaticon-data-scientist"></i>
                    <h3>
                        <a href="/Home/ApplyNow">Cert III Fabrication</a>
                    </h3>
                    <p>Find out more about opportunities with Cert III Fabrication course </p>
                    <a href="/Home/ApplyNow" class="read-more">
                        Find out more
                        <span class="ri-arrow-right-line"></span>
                    </a>
                </div>
                <div class="single-study">
                    <i class="flaticon-data-scientist"></i>
                    <h3>
                        <a href="/Home/ApplyNow">Cert III Engineering</a>
                    </h3>
                    <p>Find out more about opportunities with Cert III Engineering course </p>
                    <a href="/Home/ApplyNow" class="read-more">
                        Find out more
                        <span class="ri-arrow-right-line"></span>
                    </a>
                </div>
                <div class="single-study">
                    <i class="flaticon-data-scientist"></i>
                    <h3>
                        <a href="/Home/ApplyNow">Cert IV Engineering</a>
                    </h3>
                    <p>Find out more about opportunities with Cert IV Engineering course </p>
                    <a href="/Home/ApplyNow" class="read-more">
                        Find out more
                        <span class="ri-arrow-right-line"></span>
                    </a>
                </div>
                <div class="single-study">
                    <i class="flaticon-data-scientist"></i>
                    <h3>
                        <a href="/Home/ApplyNow">Diloma of Engineering (Trade)</a>
                    </h3>
                    <p>Find out more about opportunities with Diloma of Engineering (Trade) course </p>
                    <a href="/Home/ApplyNow" class="read-more">
                        Find out more
                        <span class="ri-arrow-right-line"></span>
                    </a>
                </div>
                <div class="single-study">
                    <i class="flaticon-data-scientist"></i>
                    <h3>
                        <a href="/Home/ApplyNow">Advanced diploma of engineering</a>
                    </h3>
                    <p>Find out more about opportunities with Advanced diploma of engineering course </p>
                    <a href="/Home/ApplyNow" class="read-more">
                        Find out more
                        <span class="ri-arrow-right-line"></span>
                    </a>
                </div>
                <div class="single-study">
                    <i class="flaticon-data-scientist"></i>
                    <h3>
                        <a href="/Home/ApplyNow">Graduate diploma of engineering</a>
                    </h3>
                    <p>Find out more about opportunities with Graduate diploma of engineering course </p>
                    <a href="/Home/ApplyNow" class="read-more">
                        Find out more
                        <span class="ri-arrow-right-line"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our-campus-information-area pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7">
                <div class="campus-img">
                    <img src="assets/images/campus-img.jpg" alt="Image">
                </div>
            </div>
            <div class="col-xl-5">
                <div class="campus-content">
                    <span>Our consultancy benefits</span>
                    <h2>We have proudly placed more than 500 students in top companies worldwide</h2>
                    <p>
                        Australia Wide Education, located in Truganina, Australia, is a prominent global international education consultant.
                        We have helped 500+ foreign students realise their study abroad ambitions by connecting them with the correct study options
                        at over 750+ top educational institutions. Our EdTEch is a unified digital environment that supports our experienced
                        education guidance counsellors and enables international education research and application a seamless self-guided procedure.
                        The backbone of Australia Wide Education is its highly devoted team striving hard to fulfill the dream of young students dreaming
                        to study in Australia.
                    </p>
                    <a href="/Home/Services" class="read-more">
                        Find out more
                        <span class="ri-arrow-right-line"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="simple-steps-area pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Simple steps to start</h2>
            <p>Not sure where to begin? For ideas, read about our most popular courses to study in Australia.</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-simple-steps">
                    <i class="flaticon-search"></i>
                    <h3>Consulting</h3>
                    <p>Get started with simple consultation on the available courses and study options available for you.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-simple-steps">
                    <i class="flaticon-choosing"></i>
                    <h3>Selection</h3>
                    <p>Submit the necessary documents and the process of selection begins. Hold tight while we are working.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-simple-steps">
                    <i class="flaticon-contract"></i>
                    <h3>Enrollment</h3>
                    <p>Get enrolled in one of the top universities we have partnered with and pack your bags for Australia.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-simple-steps">
                    <i class="flaticon-presentation"></i>
                    <h3>Start</h3>
                    <p>Your journey, living and studying in Australia starts now. Wish you good luck for your bright future :)</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="admission-area bg-color ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="admission-img mr-15">
                    <img src="assets/images/admission-img.jpg" alt="Image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="admission-content ml-15">
                    <span>Checkout the Brochure</span>
                    <h2>Admission Information and Universities Details are available here in</h2>
                    <p>
                        With over a decade of expertise and a fantastic staff of QEAC Certified Education Counsellors, Australia Wide Education can provide you with all the advice and services you require to study in Australia. We are available for foreign students with everything from course selection and managing your study application to visa advice and application services through our in-house migration agents to full help for health insurance, taxation, and housing.
                    </p>
                    <a href="/Home/ApplyNow" class="default-btn">
                        Process
                        <i class="ri-arrow-right-line"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="find-courses-area ptb-100">
    <div class="find-courses-bg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <form class="find-courses-from-bg mr-15">
                        <h2>Find a course</h2>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <label class="single-check">
                                    Undergraduate
                                    <input type="radio" checked="checked" name="radio-2">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <label class="single-check">
                                    Postgraduate
                                    <input type="radio" name="radio-2">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Keyword search">
                        </div>
                        <div class="form-group">
                            <select class="form-control">
                                <option value="1">Category course</option>
                                <option value="2">Web Design</option>
                                <option value="3">Web Developement</option>
                                <option value="4">Graphic Design</option>
                                <option value="5">App Developement</option>
                            </select>
                            <i class="ri-arrow-down-s-line"></i>
                        </div>
                        <div class="form-group">
                            <select class="form-control">
                                <option value="1">Sydney</option>
                                <option value="2">Melbourne</option>
                                <option value="3">Perth</option>
                                <option value="4">Canberra</option>
                                <option value="5">Brisbane</option>
                            </select>
                            <i class="ri-arrow-down-s-line"></i>
                        </div>
                        <button type="submit" class="default-btn">
                            Search
                            <i class="ri-search-line"></i>
                        </button>
                    </form>
                </div>
                <div class="col-lg-6">
                    <div class="ml-15">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="single-counter">
                                    <i class="flaticon-graduated"></i>
                                    <div class="count-title">
                                        <h2>
                                            <span class="odometer" data-count="500">00</span>
                                        </h2>
                                        <h4>Students Placed</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="single-counter bg-172f41">
                                    <i class="flaticon-teacher"></i>
                                    <div class="count-title">
                                        <h2>
                                            <span class="odometer" data-count="70">00</span>
                                        </h2>
                                        <h4>Consultants</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="single-counter bg-172f41">
                                    <i class="flaticon-book-1"></i>
                                    <div class="count-title">
                                        <h2>
                                            <span class="odometer" data-count="100">00</span>
                                        </h2>
                                        <h4>Courses</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="single-counter">
                                    <i class="flaticon-graduation-cap"></i>
                                    <div class="count-title">
                                        <h2>
                                            <span class="odometer" data-count="250">00</span>
                                        </h2>
                                        <h4>Degrees</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="campus-experience-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="logistics-solutions-img bg-2">
                    <div class="video-button">
                        <a href="https://www.youtube.com/watch?v=wdSUp5DgawY" target="_blank" class="video-btn">
                            <i class="flaticon-play-button"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="campus-experience-slider owl-carousel owl-theme">
                    <div class="single-campus-experience">
                        <span>Admission information</span>
                        <h3>The campus experience</h3>
                        <p>Choosing a degree of study in Australia may be difficult, with so many high-quality alternatives and lovely places to live while studying. If you're not sure where to begin, or if you believe you know where you're heading but want professional help first, contact us before applying. Our educated and experienced education counsellors would be delighted to hear your story and assist you in developing a complete learning plan that will bring you where you want to go. And, because of our wide institutional contacts, we can check if you're looking at the proper courses (or recommend alternatives if we know of anything better).</p>
                        <a href="/Home/Process" class="read-more">
                            Find out more
                            <i class="ri-arrow-right-line"></i>
                        </a>
                    </div>
                    <div class="single-campus-experience">
                        <span>Admission information</span>
                        <h3>The campus experience</h3>
                        <p>
                            We will begin by learning about you and your objectives, and then our knowledgeable Education Counsellors will assist you in finding a terrific course at an institution that will get you where you want to go.
                            We'll assist you with everything, from course application to offer letter and study visa. We will also advise you on housing, health care, and insurance.
                            Your course selection and visa application are significant, but you must also consider insurance, any English language requirements, and financial help.
                            We can go through all of this and more (including an application for Permanent Residency if that is the path you choose). In your initial meeting, we'll go through everything.
                        </p>
                        <a href="/Home/Process" class="read-more">
                            Find out more
                            <i class="ri-arrow-right-line"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
