@{
    ViewData["Title"] = "Process Page";
}
<div class="page-title-area bg-26" style="max-height: 280px">
    <div class="container">
        <div class="page-title-content">
            <h2>Process</h2>
            <ul>
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li class="active">Process</li>
            </ul>
        </div>
    </div>
</div>
<section class="tuition-fees-area ptb-100">
    <div class="container">
        <div class="main-default-content">
            <h2>What is the admission process?</h2>
            <p>
                Our qualified Education Counsellors take the time to learn about your job objectives, lifestyle, and career, as well as any migration ambitions, so that we can provide unique, personalised advise. Because we are fully independent, you can rest certain
                that we will only recommend the finest course and institute possibilities for you.
            </p>
            <div class="gap-20"></div>
            <h3>The steps to follow for the admission</h3>
            <ul>
                <li>
                    <strong>Step 1: We listen to what you have to say.</strong> Tell us about your previous schooling, your hobbies and skill sets, and your chosen lifestyle location. We can recommend some excellent alternatives and places, as well
                    as advise you on courses, career possibilities, and possible financial support. Scholarships are frequently provided for students migrating to a new state.
                </li>
                <li>
                    <strong>Step 2: We then iron out the specifics.</strong> We'll go into depth to locate colleges and institutions that can provide courses linked with your career path and selected city once we've determined your personal and professional
                    goals. At this point, we'll verify that you satisfy the entrance requirements and discuss visa needs.
                </li>
                <li>
                    <strong>Step 3: Resolve any visa or migration concerns.</strong> Our MARA Registered Migration Agents will guarantee that you have a suitable study or residency visa to continue your studies in Australia, as well as that you satisfy
                    all of the criteria with your new course to remain visa compliant.
                </li>
                <li>
                    <strong> Step 4: We will take care of the application procedure.</strong> There's no need to be concerned about paperwork; we'll handle everything for you, liaising with authorities and your educational institution to ensure everything
                    goes well. We can also assist you with migration services if you decide to apply for Permanent Residency in the future. All you need to do is make sure you have adequate health insurance, insurance, and financial means, as well
                    as that you fulfil any English language requirements. If you require assistance with any of these, please ask us at your initial appointment.
                </li>
            </ul>
        </div>
    </div>
</section>
