@{
    ViewData["Title"] = "Services";
}
<div class="page-title-area bg-26" style="max-height: 280px">
    <div class="container">
        <div class="page-title-content">
            <h2>Services</h2>
            <ul>
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div>
</div>
<section class="studys-area pt-70 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Services we provide</h2>
            <p>Get expert assistance in applying for a Student Visa in Australia and other migration permits.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-study study-f3f3f4">
                    <h3>
                        <a href="javascript:;">Migration Services</a>
                    </h3>
                    <p>
                        With ever-changing laws and documentation requirements, applying for a visa to study or reside in Australia may be a difficult and complicated procedure.
                        Our team of registered and experienced migration agents can provide you with thorough advice and full administration of your visa application.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-study study-f3f3f4">
                    <h3>
                        <a href="javascript:;">Education Counselling</a>
                    </h3>
                    <p>You can ensure that you are making an educated decision about your future education by speaking with one of our Education Counsellors. Nothing is worse than enrolling in a course that you are not interested in and cannot withdraw from since it will cost you thousands of dollars. Our extensive experience working with international students .</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-study study-f3f3f4">
                    <h3>
                        <a href="javascript:;">Visa and Migration Counselling</a>
                    </h3>
                    <p>
                        Your course selection and visa application are significant, but you must also consider insurance, any English language requirements, and financial help.
                        We can go through all of this and more (including an application for Permanent Residency if that is the path you choose). In your initial meeting, we'll go through everything.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-study study-f3f3f4">
                    <h3>
                        <a href="javascript:;">Scholarships</a>
                    </h3>
                    <p>
                        We understand that higher education in Australia may be costly, however many universities recognise this and provide scholarships to recognise your dedication to your studies.
                        These scholarships are particularly designed to alleviate some of the financial burden designed to alleviate some of the financial burden for high-performing and underprivileged students, allowing you to focus on attaining the greatest possible outcomes without worrying about money.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-study study-f3f3f4">
                    <h3>
                        <a href="javascript:;">Health Cover</a>
                    </h3>
                    <p>Health insurance is required for many international visa holders visiting Australia. Visitors from other countries are not entitled for free healthcare . If you are trapped in an unfavourable position and do not have health insurance, you may find yourself with significant medical expenses. Having OSHC (Overseas Student Health Cover) or OVHC (Overseas Visitors Health Cover) as a student or migrant wishing to study or work in Australia is a necessity.</p>
                </div>
            </div>
        </div>
    </div>
</section>

